@charset "utf-8";

/* 2016-01-13 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
body,button,input,select,textarea{font:400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
address,cite,dfn,em,var,i{font-style:normal;font-weight:400}
dfn{font-family:Arial}
ul,ol{list-style:none}
a{color:#000;text-decoration:none}
a:hover{transition:color .2s linear}
fieldset,img,button,input{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
.c_page{font-size:12px;border:0;margin:0;padding:0;overflow:hidden;margin:0 auto;width:500px;line-height:30px;}
.c_page li,.c_page b{float:left;height:18px;line-height:18px;padding:6px 11px;vertical-align:middle;font-size:12px;color:#727272;font-family:simsun;font-weight:normal;cursor:pointer;}
.c_page b{padding:6px 0px;}
.c_page li.select{background:#F35715;color:#fff;}
.c_page li:hover{background:#f9d5c6;color:#000;}
.c_page input{border:1px solid #dedede;padding:4px;margin:0 2px;}
.c_page button{padding:6px 10px;background:#f9d5c6;margin-left:2px;}
.c_page b.total{margin-right:11px;}
.c_imgslider{margin:0px auto 20px;position:relative;width:100%;height:100%;overflow:hidden;zoom:1;}
.c_imgslider .slides li{width:100%;height:100%;}
.c_imgslider .flex-direction-nav a{width:70px;height:70px;line-height:99em;overflow:hidden;margin:-35px 0 0;display:block;background:url(../img/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;border-radius:35px;}
.c_imgslider .flex-direction-nav .flex-next{background-position:0 -70px;right:0;}
.c_imgslider .flex-direction-nav .flex-prev{left:0;}
.c_imgslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.c_imgslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.c_imgslider:hover .flex-next:hover,.c_imgslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.c_imgslider .flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.c_imgslider .flex-control-nav li{margin:0 2px;display:inline-block;zoom:1;*display:inline;}
.c_imgslider .flex-control-paging li a{background:url(../img/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.c_imgslider .flex-control-paging li a.flex-active,.c_imgslider .flex-control-paging li.active a{background-position:0 0;}
.c_imgslider .slides a img{width:100%;height:100%;display:block;}

/* 表单 */
.ttl-mark{color: #999}
.ttl-btn,.ttl-input,.ttl-textarea,.ttl-upload-button{outline:0;-webkit-transition:border-color .3s cubic-bezier(.65,.05,.35,.5);transition:border-color .3s cubic-bezier(.65,.05,.35,.5);-webkit-box-sizing:border-box!important;-moz-box-sizing:border-box!important;box-sizing:border-box!important}
.ttl-form-item{    margin-bottom: 15px;overflow: hidden;}
.ttl-form-item>label{float:left;display:block;padding:9px 15px;width:80px;font-weight:400;text-align:right;}
.ttl-form-item .ttl-full{margin-left: 110px;}
.ttl-form-item .ttl-normal{margin-left: 110px;}
.ttl-form-item .ttl-mult{margin-left: 110px;}
.ttl-input{width: 200px;padding-left:10px;height:38px;line-height:38px\9;border:1px solid #e6e6e6;background-color:#fff;border-radius:2px; display: block;}
.ttl-form-item .ttl-full .ttl-input{width: 100%;}
.ttl-form-item .ttl-mult .ttl-input{display: inline-block;}

.ttl-btn{display:inline-block;height:38px;line-height:38px;padding:0 18px;background-color:#009688;color:#fff;white-space:nowrap;text-align:center;border:none;border-radius:2px;cursor:pointer;opacity:.9;filter:alpha(opacity=90)}
.ttl-btn:hover{opacity:.8;filter:alpha(opacity=80);color:#fff}
.ttl-btn:active{opacity:1;filter:alpha(opacity=100)}
.ttl-btn+.ttl-btn{margin-left:10px}
.ttl-btn-radius{border-radius:100px}
.ttl-btn .ttl-icon{font-size:18px;vertical-align:bottom}
.ttl-btn-primary{border:1px solid #C9C9C9;background-color:#fff;color:#555}
.ttl-btn-primary:hover{border-color:#009688;color:#333}
.ttl-btn-normal{background-color:#1E9FFF}
.ttl-btn-warm{background-color:#F7B824}
.ttl-btn-danger{background-color:#FF5722}
.ttl-btn-disabled,.ttl-btn-disabled:active,.ttl-btn-disabled:hover{border:1px solid #e6e6e6;background-color:#FBFBFB;color:#C9C9C9;cursor:not-allowed;opacity:1}
.ttl-btn-big{height:44px;line-height:44px;padding:0 25px;font-size:16px}
.ttl-btn-small{height:30px;line-height:30px;padding:0 10px;font-size:12px}
.ttl-btn-small i{font-size:16px!important}
.ttl-btn-mini{height:22px;line-height:22px;padding:0 5px;font-size:12px}
.ttl-btn-mini i{font-size:14px!important}